.img-circle {
  height: 225px;
  margin-top: -40px;
  float: left;
}

.head {
  float:right;
}

body {
  font-family: 'Lucida Sans Unicode';
}

.employer {
  color: grey;
}

.about {
  margin-top: 120px;
}