.img-circle {
  height: 225px;
  border-radius: 50%;
  margin-top: -40px;
  float: left;
}

.head {
  float:right;
}

body {
  font-family: 'Lucida Sans Unicode';
}

.employer {
  color: grey;
}

.row {
  margin-top: 50px;
}