.img-circle {
  height: 225px;
  margin-top: -40px;
  float: left;
}

.head {
  float:right;
}

body {
  font-family: 'Lucida Sans Unicode';
}

.employer {
  color: grey;
}

.about {
  margin-top: 50px;
}

.jumbotron {
  background-image: url("https://images.pexels.com/photos/2599116/pexels-photo-2599116.png");
  background-size: cover;
  opacity: 70%;
  color: white;
}